<div id="shortcuts-modal" class="modal" role="dialog" aria-modal="true" aria-labelledby="shortcuts-title" hidden>
  <div class="modal-panel" role="document">
    <div class="panel-head">
      <h2 id="shortcuts-title">Keyboard shortcuts</h2>
      <button id="shortcuts-close" class="button ghost" type="button" data-close="shortcuts-modal" aria-label="Close shortcuts">Close</button>
    </div>
    <table class="data-table shortcuts-table">
      <caption class="sr-only">Keyboard shortcuts</caption>
      <thead>
        <tr><th scope="col">Key</th><th scope="col">Action</th></tr>
      </thead>
      <tbody>
        <tr data-shortcut="g-h"><td><kbd>g</kbd> then <kbd>h</kbd></td><td>Go home</td></tr>
        <tr data-shortcut="g-f"><td><kbd>g</kbd> then <kbd>f</kbd></td><td>Go to Find</td></tr>
        <tr data-shortcut="g-r"><td><kbd>g</kbd> then <kbd>r</kbd></td><td>Go to Runs</td></tr>
        <tr data-shortcut="g-l"><td><kbd>g</kbd> then <kbd>l</kbd></td><td>Go to Library (filters)</td></tr>
        <tr data-shortcut="j"><td><kbd>j</kbd></td><td>Select next row</td></tr>
        <tr data-shortcut="k"><td><kbd>k</kbd></td><td>Select previous row</td></tr>
        <tr data-shortcut="enter"><td><kbd>Enter</kbd></td><td>Open selected row</td></tr>
        <tr data-shortcut="escape"><td><kbd>Esc</kbd></td><td>Close this help or a dialog</td></tr>
        <tr data-shortcut="question"><td><kbd>?</kbd></td><td>Toggle this help</td></tr>
      </tbody>
    </table>
  </div>
</div>
